---
import ExpandedProjectsCard from "./ExpandedProjectsCard.astro";
import SecondaryTitle from "./SecondaryTitle.astro";
import Carrousel from "./Carrousel.astro";

const { data } = Astro.props
const title = `Obra | año ${data.year}`
const info = `Steelframe\n${data.title} \n${data.location}`

const url = "/#proyectos"
const images = data.images
---

<section class="container mt-28" id="ver-mas">
    <article class="grid grid-cols-1 lg:grid-cols-2 gap-0 lg:gap-52">
        <aside class="mb-10 lg:mb-12">
            <SecondaryTitle title={title} customStyles="pb-5 sm-title"/>
            <p class="xl-content text-black -z-10 whitespace-pre-line">
            {info}
            </p>
        </aside>
        <aside class="mb-10 lg:mb-0">
            <ul class="grid divide-y divide-black/30 sm-title uppercase lg:mx-0">
                <li class="py-2">- {data.im2} M2 Cubiertos</li>
                <li class="py-2">- {data.om2} M2 Semicubiertos</li>
                <li class="py-2">- {data.rooms} Habitaciones</li>
                <li class="py-2">- {data.baths} Baños</li>
                <li class="py-2">- {data.facilities}</li>
                <li class="py-2">- {data.garage ? "Cochera" : "Sin cochera"}</li>
            </ul>
        </aside>
    </article>
    <Carrousel>
        {images.map((image) => (
            <ExpandedProjectsCard image={image} url={url} data={data}/>
        ))}
        <!-- <ProjectsCard data={data} url="/#proyectos"/> -->
    </Carrousel>
</section>
