---
const { data, url } = Astro.props;
---
        <article class="bg-gray-400 transition-all duration-300 overflow-hidden" id={data.id}>
                <picture class="relative">
                    <img src=`${data.img}` alt="Icon" class="min-h-[26rem]" loading="lazy"/>
                    <a href={url} class="w-[2.5rem] h-[2.5rem] absolute right-0 bottom-0 text-5xl text-center font-keluar_extralight bg-white leading-[2.5rem] min-[1126px]:w-[3.5rem] min-[1126px]:h-[3.5rem] min-[1126px]:leading-[3.5rem]" >
                        +
                    </a>
                </picture>
                <h3 class="sm-title py-3 pt-6">
                    {data.location}
                </h3>
                <p class="md-title uppercase font-keluar_medium">
                    {data.title}
                </p>
        </article>

